.pic {
    width: 460px;
    height: 400px;
    border-radius: 5px;
    padding-top: 100px;
    margin-left: 100px;
    margin-bottom: 300px;
}

:root {
    --branding-color: #6c63ff;
    --secondary-color: #ffffff;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: bold;

}

h2 {
    font-family: var(--default-font-family);
    font-size: 40px;
}

.container {
    padding: 100px 35px 10px 100px;
}

.btn {
    padding: 15px 30px;
    display: inline-block;

}

.text {
    font-family: var(--default-font-family);
    font-size: 20px;
    text-align: justify;
}