

:root {
    --branding-color: #f8cdb3;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
.hero h1{
    font-size: 55px;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 450;
    font-style: normal;
        display: block;
}
   .hero h5,h2{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    display: block;
}
.hero{
    text-align: center;
    background-color: var(--branding-color);
    margin: 30px 50px;
    border-radius: 6px;
    padding: 100px 200px 70px 200px;
    margin-bottom: 12px;
    display: block;
}
.container{
    margin-top: 50px;
}
.yoga{
    font-size: 42px;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 450;
    font-style: normal;
}

.pic-yoga{
    width: 300px;
    height:450px;
    border-radius: 6px;
margin-left: 90px;    
}
.pic-gir {
    width: 300px;
    height: 400px;
    margin-left: 85px;
    border-radius: 6px;
}
.btn-branding {
    background: rgb(104, 47, 6);
    border-radius: 4px;
    color:var(--secondary-color);
    font-size: 12px;
    padding: 12px 16px;
}

.text1{
    text-align: center;
    font-size: 20px;
    color: rgb(105, 105, 105);
}
.logo{
max-width: 150px; 
max-height: 150px;
padding:0px 25px 5px 5px;

}
nav li {
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-family: var(--default-font-family);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    
}
nav a :hover, 
nav li.active a {
    color: var(--branding-color)
}
a{
text-decoration: none;
color: rgb(101, 101, 102);
transition: all ease-in-out 150ms;
}
.active{
    color: var(--branding-color);
}

.smallpic{
       height: 60px;
       padding-bottom: 22px;
}

.email-link {
    color: rgb(56, 56, 56);
    text-align: center;
    display: block;
    font-size: 22px;
    margin: 50px 0px 25px 0px;
}

.social a{
    text-align:  center;
    margin: 15px 18px 22px 0;
    color:rgb(104, 47, 6);
    background-color: rgb(246, 237, 198);
    font-size: 20px;
    border-radius: 50%;
    padding:8px 12px ;

}
footer .social a:hover{
    color: black;
    background-color: var(--branding-color);
}

.contact-box{
background-color:var(--branding-color);
border-radius: 8px;
padding: 30px;
}

.btn-contact{    
background: rgb(104, 47, 6);     
border-radius: 4px;
color: var(--secondary-color);
font-size: 17px;
padding: 12px 22px;
margin: 25px;
}
h4{
    font-family: var(--default-font-family);
}